# Easier navigation: .., ..., ...., ..... and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Desktop"
alias c="cd ~/Drive/Codebase"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
alias l="ls"
alias ll="ls -al"

# start a local python server
alias serve="python -m SimpleHTTPServer"

# start sublime
alias subl="'/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl'"

# make py3 virtual env
alias mkv3="mkvirtualenv -p /usr/local/bin/python3.4 $1"

# Git aliases
alias gs="git status"
alias ga="git add -A :/"
alias gb="git branch"
alias gc="git commit -m "$1""
alias gp="git push $1 $2" # gp OR gp [remote] [branch]
alias pull="git pull"
alias gt="git tag "$1""
alias gpt="git push --tags"
alias co="git checkout"

# add color to tmux
alias tmux="TERM=screen-256color-bce tmux"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"
