# Make vim the default editor.
export EDITOR='vim';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Gopath
export GOPATH=~/go

# Python env variable
# export PYTHONPATH=`brew --prefix`/lib/python2.7/site-packages:$PYTHONPATH

# The next line updates PATH for the Google Cloud SDK.
source '/Users/karan/google-cloud-sdk/path.bash.inc'

# The next line enables shell command completion for gcloud.
source '/Users/karan/google-cloud-sdk/completion.bash.inc'
